[sshd]
enabled = true
port = {{ common_hardening_ssh_port }}
filter = sshd
banaction = ufw
bantime = {{ common_hardening_fail2ban_bantime }}
findtime = 600
maxretry = {{ common_hardening_fail2ban_maxretry }}
